body{
    margin: 0; /*Zerar a margem padrão do HTML*/
}

.main-login{
    /*Viewport é a área de exibição da página ao ser aberta em diferentes dispositivos. Cada viewport equivale a 1% da área de exibição atual*/

    width: 100vw; /*viewport width*/
    height: 100vh; /*viewport height*/
    background: #201b2c;
    display: flex;
    justify-content: center; /*Justify content é equivalente ao eixo X na organização de elementos*/
    align-items: center;/*Align items é equivalente ao eixo Y na organização de elementos*/
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Para que imagem não fique ao lado do texto*/
}

.left-login > h1{
    color: #77ffc0;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%; /*Porcentagem de 60% da viewport da div right-login*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /*30px = eixo Y; 35px = eixo X*/
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;  /*Ao utilizar o flex-direction, as direções do align-items e justify-content se invertem*/
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.button-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer; /*Para que quando mouse esteja sobre o botão, fique demonstrando que pode ser clicado*/
    box-shadow: 0px 10px 40px -12px #00ff8052;
}